# Module 1 - Introduction to Pandas
## Pandas Part 1

### Introduction

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. You have found out that Austin has one of the largest no-kill animal shelters in the country, and they keep meticulous track of animals that have been taken in and released. However, it is a large file, the online visualization tools provided are terrible, the data is sorted as strings, and the file holds an overwhelming amount  of information. Is there an easy way to look at this data? Can we do this with base Python? Is there a better way?


#### _Our goals today are to be able to_: <br/>

- Import/read data using Pandas
- Identify Pandas objects and manipulate Pandas objects by index and columns
- Filter data using Pandas

#### _Big questions for this lesson_: <br/>
- Why use Pandas? 
 
 (a) Provides methods able analyze data stored in the format Data Scientist most often encounter (.csv, .tsv, or .xlsx). 
 
 (b) Makes it very convenient to load, process, and analyze in the aforementioned formats. 
 
 (c) Along with python visualization packages allows for the visual analysis of tabular data.
 

- When do we want to use NumPy versus Pandas?
- What are the [advantages of using Pandas?](https://stackabuse.com/beginners-tutorial-on-the-pandas-python-library/)
- What are the [disadvantages of using Pandas?](https://wesmckinney.com/blog/apache-arrow-pandas-internals/)
- DataFrames are great for representing real data: rows correspond to instances (examples, observations, etc.), and columns correspond to features of these instances.

### Activation:

<img src="https://cdn-images-1.medium.com/max/1600/1*9IU5fBzJisilYjRAi-f55Q.png" width=600>  




- The data manipulation capabilities of Pandas are built on top of the numpy library.
- Pandas dataframe object represents a spreadsheet with cell values, column names, and row index labels.

### 1. Importing and reading data with Pandas!

#### Let's use pandas to read some csv files so we can interact with them.

In [6]:
# First, let's check which directory we are in so the files we expect to see are there.
!pwd
!ls -la data

/c/Users/Akshay Indusekar/hello/code/dc-ds-010620/module-1/day-5-pandas-1
total 6
drwxr-xr-x 1 Akshay Indusekar 197121   0 Jan 10 11:09 .
drwxr-xr-x 1 Akshay Indusekar 197121   0 Jan 10 11:23 ..
-rw-r--r-- 1 Akshay Indusekar 197121  62 Jan 10 11:09 example1.csv
-rw-r--r-- 1 Akshay Indusekar 197121 238 Jan 10 11:09 made_up_jobs.csv

In [2]:
import pandas as pd

example_csv = pd.read_csv('data/example1.csv')

In [26]:
my_string = "my string \n hello"

In [10]:
my_string

'my string/nhello'

In [27]:
print(my_string)

my string
 hello

There is also `read_excel`, `read_html`, and many other pandas `read_` functions.  
http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

In [4]:
example_csv.describe()

          Title1    Title2 Title3
count          2         2      2
unique         2         2      2
top     example1  example2  three
freq           1         1      1

In [5]:
!head data/example1.csv

Title1,Title2,Title3
one,two,three
example1,example2,example3

Try loading in the example file in the `data` directory called `made_up_jobs.csv` using pandas.

In [7]:
# read in your csv here!
muj = pd.read_csv('data/made_up_jobs.csv')

# remember that it's nice to be able to look at your data, so let's do that here, too.
muj.head()

   ID           Name                       Job  Years Employed
0   0   Bob Bobberty  Underwater Basket Weaver              13
1   1   Susan Smells             Salad Spinner               5
2   2  Alex Lastname      Productivity Manager               2
3   3        Rudy P.                Being cool              55
4   4        Rudy G.  Being compared to Rudy P              50

You can also load in data directly from the internet with its url.

In [8]:
shelter_data = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
# this link is copied directly from the download option for CSV

shelter_data.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
1,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
2,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
3,A680969,*Zeus,08/05/2014 04:59:00 PM,08/05/2014 04:59:00 PM,06/03/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby
4,A684617,NaN,07/27/2014 09:00:00 AM,07/27/2014 09:00:00 AM,07/26/2012,Transfer,SCRP,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black

Now that we can read in data, let's get more comfortable with our Pandas data structures.

In [28]:
type(shelter_data)

pandas.core.frame.DataFrame

In [29]:
# Now that data is read let's look at it's shape
print(shelter_data.shape)

(113949, 12)

In [30]:
# What are the names of the columns
print(shelter_data.columns)

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Date of Birth',
       'Outcome Type', 'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color'],
      dtype='object')

In [32]:
print(shelter_data.size)

1367388

In [39]:
# What are the different data types present in our data
print(shelter_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113949 entries, 0 to 113948
Data columns (total 12 columns):
Animal ID           113949 non-null object
Name                78117 non-null object
DateTime            113949 non-null datetime64[ns]
MonthYear           113949 non-null object
Date of Birth       113949 non-null object
Outcome Type        113941 non-null object
Outcome Subtype     51632 non-null object
Animal Type         113949 non-null object
Sex upon Outcome    113945 non-null object
Age upon Outcome    113919 non-null object
Breed               113949 non-null object
Color               113949 non-null object
dtypes: datetime64[ns](1), object(11)
memory usage: 10.4+ MB
None

In [34]:
shelter_data.sort_values('DateTime')

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
62141,A669926,NaN,01/01/2014 01:00:00 PM,01/01/2014 01:00:00 PM,05/30/2013,Transfer,Partner,Dog,Intact Female,7 months,Plott Hound/Black/Tan Hound,Brown/Tan
26174,A670044,NaN,01/01/2014 01:13:00 PM,01/01/2014 01:13:00 PM,01/01/2011,Euthanasia,Suffering,Cat,Intact Male,3 years,Domestic Shorthair Mix,Blue
66471,A668314,Duke,01/01/2014 01:30:00 PM,01/01/2014 01:30:00 PM,12/02/2012,Transfer,Partner,Dog,Neutered Male,1 year,Labrador Retriever Mix,Chocolate/White
51832,A666770,Josh,01/01/2014 01:32:00 PM,01/01/2014 01:32:00 PM,11/07/2010,Adoption,NaN,Dog,Neutered Male,3 years,Siberian Husky Mix,Black/Brown
47336,A668337,*Tony,01/01/2014 01:42:00 PM,01/01/2014 01:42:00 PM,12/02/2012,Euthanasia,Behavior,Dog,Intact Male,1 year,Pit Bull Mix,Brown Brindle/White
...,...,...,...,...,...,...,...,...,...,...,...,...
52958,A807951,Trevor,12/31/2019 12:19:00 PM,12/31/2019 12:19:00 PM,11/01/2017,Transfer,Partner,Cat,Neutered Male,2 years,Siamese Mix,Flame Point
52984,A808624,*Beyonce,12/31/2019 12:19:00 PM,12/31/2019 12:19:00 PM,08/27/2019,Transfer,Partner,Cat,Intact Female,4 months,Domestic Shorthair,Tortie
52990,A810972,NaN,12/31/2019 12:22:00 PM,12/31/2019 12:22:00 PM,09/23/2019,Adoption,NaN,Dog,Spayed Female,3 months,Dogue De Bordeaux Mix,Red/White
52967,A810840,Ruthie,12/31/2019 12:45:00 PM,12/31/2019 12:45:00 PM,12/21/2013,Rto-Adopt,NaN,Dog,Intact Female,6 years,Labrador Retriever Mix,Black/White
52978,A810107,Daisy,12/31/2019 12:57:00 PM,12/31/2019 12:57:00 PM,10/15/2019,Adoption,NaN,Dog,Spayed Female,2 months,Collie Smooth Mix,Tricolor

In [36]:
pd.to_datetime(shelter_data['DateTime'])

0        2016-02-13 17:59:00
1        2014-03-18 11:47:00
2        2014-10-18 18:52:00
3        2014-08-05 16:59:00
4        2014-07-27 09:00:00
                 ...
113944   2017-10-18 13:27:00
113945   2018-03-01 18:28:00
113946   2018-06-23 11:59:00
113947   2018-05-21 12:59:00
113948   2018-03-12 13:27:00
Name: DateTime, Length: 113949, dtype: datetime64[ns]

In [38]:
shelter_data['DateTime'] = pd.to_datetime(shelter_data['DateTime'])

In [33]:
# We can find the type of a particular columns in a data frame in this way.
ID_series = shelter_data['Animal ID']
type(ID_series)

pandas.core.series.Series

In [40]:
shelter_data['Outcome Type'].unique()

array(['Adoption', 'Transfer', 'Return to Owner', 'Euthanasia',
       'Rto-Adopt', 'Died', 'Disposal', 'Missing', 'Relocate', nan],
      dtype=object)

In [42]:
shelter_data['Outcome Type'].value_counts()

Adoption           50092
Transfer           34014
Return to Owner    20067
Euthanasia          7626
Died                1047
Rto-Adopt            556
Disposal             452
Missing               67
Relocate              20
Name: Outcome Type, dtype: int64

In [43]:
columns_to_check = [x for x in shelter_data.columns if x != 'Animal ID']

In [44]:
columns_to_check

['Name',
 'DateTime',
 'MonthYear',
 'Date of Birth',
 'Outcome Type',
 'Outcome Subtype',
 'Animal Type',
 'Sex upon Outcome',
 'Age upon Outcome',
 'Breed',
 'Color']

In [47]:
shelter_data_dedup = shelter_data.drop_duplicates(subset= columns_to_check).sort_values('DateTime')

In [48]:
shelter_data.shape

(113949, 12)

In [49]:
shelter_data_dedup.shape

(112009, 12)

### 2. Utilizing and identifying Pandas objects

- What is a DataFrame object and what is a Series object? 
- How are they different from Python lists?

To start, let's start with this list of fruits.

In [50]:
fruits = ['Apple', 'Orange', 'Watermelon', 'Lemon', 'Mango']

print(fruits)

['Apple', 'Orange', 'Watermelon', 'Lemon', 'Mango']

Using our list of fruits, we can create a pandas object called a 'series' which is much like an array or a vector, or a column from a spreadsheet.

In [52]:
fruits_series = pd.Series(fruits)

print(fruits_series)
type(fruits_series)

0         Apple
1        Orange
2    Watermelon
3         Lemon
4         Mango
dtype: object

pandas.core.series.Series

One difference between python **list objects** and pandas **series objects** is the fact that you can define the index manually for a **series objects**.

In [53]:
ind = ['a', 'b', 'c', 'd', 'e']

fruits_series = pd.Series(fruits, index=ind)

print(fruits_series)

a         Apple
b        Orange
c    Watermelon
d         Lemon
e         Mango
dtype: object

With a partner, create your own custom series from a list of items.

In [56]:
my_list = ['cake', 'chocolate', 'water']  # your code here

# create custom indices for your series
ind = [1, 2, 3]

# create the series using your list objects
# You can use either a for loop or also pd.Series
my_series = pd.Series(my_list, index=ind)

# print your objects
print(my_series)
type(my_series)

1         cake
2    chocolate
3        water
dtype: object

pandas.core.series.Series

We can do a simliar thing with Python dictionaries. This time, however, we will create a DataFrame object from a python dictionary.

In [57]:
# Dictionary with list objects in values
student_dict = {
    'name': ['Samantha', 'Alex', 'Dante'],
    'age': ['35', '17', '26'],
    'city': ['Houston', 'Seattle', 'New York']
}

students_df = pd.DataFrame(student_dict)

students_df.head()

       name age      city
0  Samantha  35   Houston
1      Alex  17   Seattle
2     Dante  26  New York

In [60]:
# List with dictionary objects in values
student_list = [
    {'name': 'Samantha', 'age': '35', 'city': 'Houston'},
    {'name': 'Alex', 'age': '17', 'city': 'Seattle'},
    {'name': 'Dante', 'age': '26', 'city': 'New York'}
]

students_df = pd.DataFrame(student_list)

students_df.head()

       name age      city
0  Samantha  35   Houston
1      Alex  17   Seattle
2     Dante  26  New York

In [61]:
#to find data types of columns
students_df.dtypes

name    object
age     object
city    object
dtype: object

In [65]:
students_df.age.values

array(['35', '17', '26'], dtype=object)

Let's change the data type of ages to int.

In [64]:
# We can also change a columns type but the change has to make sense.
students_df.age = students_df.age.astype(int)

#Uncomment line below and observe what happens when trying to convert student's name to int or float
#students_df.name = students_df.name.astype(int)

#How about what happens converting numeric to string
students_df.age = students_df.age.astype(str)

students_df.dtypes

name    object
age     object
city    object
dtype: object

KeyError: 'dtypes'

We can also use a custom index for these items. For example, we might want them to be the individual student ID numbers.

In [68]:
school_ids = ['1111', '1145', '0096']

# Notice here we use pd.DataFrame not pd.Series as we did for a pandas series.
students_df = pd.DataFrame(student_dict, index=school_ids)

students_df.head()

          name age      city
1111  Samantha  35   Houston
1145      Alex  17   Seattle
0096     Dante  26  New York

Using Pandas, we can also rename column names.

In [69]:
students_df.columns = ['NAME', 'AGE', 'HOME']
students_df.head()

          NAME AGE      HOME
1111  Samantha  35   Houston
1145      Alex  17   Seattle
0096     Dante  26  New York

Or, we can also change the column names using the rename function.

In [70]:
students_df.rename(columns={"AGE": "YEARS"})

          NAME YEARS      HOME
1111  Samantha    35   Houston
1145      Alex    17   Seattle
0096     Dante    26  New York

In [ ]:
# Notice what happens when we print students_df

students_df

In [71]:
# If you want the file to save over itself, use the option `inplace = True`.
students_df.rename(columns={'AGE': 'YEARS'}, inplace=True)
students_df.head()

          NAME YEARS      HOME
1111  Samantha    35   Houston
1145      Alex    17   Seattle
0096     Dante    26  New York

Similarly, there is a tool to remove rows and columns from your DataFrame

In [ ]:
students_df.drop(columns=['YEARS', 'HOME'])

In [ ]:
#Notice again what happens if we print students_df 
students_df

In [ ]:
students_df.drop(columns=['YEARS', 'HOME'], inplace=True)
students_df

If you want the file to save over itself, use the option `inplace = True`.

Every function has options. Let's read more about `drop` [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

### 3. Filtering Data Using Pandas
There are several ways to grab particular data from a DataFrame. 
- Python lists allow for selection of data only through integer location. 
- You can use a single integer or slice notation to make the selection but NOT a list of integers.
- Dictionaries only allow selection with a single label. Slices and lists of labels are not allowed.

In [ ]:
l = [1, 2, 3, 4, 5]
l[[0, 5]]

### DataFrames can be indexed by column name (label) or row name (index) or by position.   
#### The `.loc` method is used for indexing by name.  
#### While `.iloc` is used for indexing by number.

In [ ]:
student_dict = {
    'name': ['Samantha', 'Alex', 'Dante'],
    'age': ['35', '17', '26'],
    'city': ['Houston', 'Seattle', 'New York']
}

students_df = pd.DataFrame(student_dict)

In [ ]:
students_df.loc[:, 'name']

### Let's take a look at `.iloc`
#### `.iloc` takes slices based on index position.
#### `.iloc` stands for integer location so that should help with remember what it does
#### `.iloc`[row , column]

In [ ]:
# returns the first row
students_df.iloc[0]

In [ ]:
# returns the first column
students_df.iloc[:, 0]

In [ ]:
# returns first two rows notice that ILOC performs regular python slicing.
students_df.iloc[0:2]

In [ ]:
# returns the first two columns
students_df.iloc[:, 0:2]

In [ ]:
# returns first row and columns 1 and 2
students_df.iloc[0:1, 0:2]

### How would we use `.iloc` to return the last item in the last row?

In [ ]:
# return the last item in the last row using iloc

### How would we use `.iloc` to return the last item in the last column?

In [ ]:
# return the last item in the last column using iloc

### What if we only want certain columns or rows?

In [ ]:
# Don't do students_df.iloc[0, 2]
students_df.iloc[[0, 2]]

In [ ]:
students_df.iloc[[0, 2], [0, 2]]

### Let's take a look at `.loc`
#### Label based method. 
#### Names or labels of the index is used when taking slices.
#### Also supports boolean subsetting.

In [ ]:
# We will use loc to return rows and columns based on labels. Let's look at the students_df DataFrame again.
students_df

In [ ]:
# returns the student information associated with index 0
students_df.loc[0]

In [ ]:
# returns the student information for row index 0 to 2 inclusive.
# note iloc would return normal python slicing not including 2 as demonstrated above.
students_df.loc[0:2]

In [ ]:
# returns the column labeled 'age'
students_df.loc[:, 'age']

In [ ]:
# returns the column labeled 'age' and index values 1 to 2.
# gives us the values of the rows with index from 1 to 2 (inclusive)
# and columns labeled age"
students_df.loc[1:2, 'age']

In [ ]:
# returns the column labeled 'age' and index values 1 to 2.
# gives us the values of the rows with index from 1 to 2 (inclusive)
# and columns labeled age to city (inclusive)"
students_df.loc[1:2, 'age':'city']

In [ ]:
# What should we get?
students_df.loc[1:2, ['name', 'city']]

In [ ]:
# How about?
students_df.loc[[0, 2], ['name', 'city']]

In [ ]:
# if index rearranged
school_ids = ['5', '11', '3']
students_df = pd.DataFrame(student_dict, index=school_ids)

In [ ]:
students_df

In [ ]:
# What should we get now?
students_df.loc[[0, 2], ['name', 'city']]

In [ ]:
# What should we get now?
students_df.loc[['5', '11'], ['name', 'city']]

In [ ]:
students_df.set_index("name", inplace=True)
students_df

In [ ]:
students_df.loc[['Samantha']]

In [ ]:
# Subsetting nonconsecutive rows
students_df.loc[['Samantha', 'Dante']]

In [ ]:
# Samantha to the end
students_df.loc['Samantha':]

In [ ]:
# return the first and last rows using one loc command

### Boolean Subsetting

In [ ]:
student_dict = {
    'name': ['Samantha', 'Alex', 'Dante', 'Samantha'],
    'age': ['35', '17', '26', '21'],
    'city': ['Houston', 'Seattle', 'New York', 'Atlanta'],
    'state': ['Texas', 'Washington', 'New York', 'Georgia']
}

students_df = pd.DataFrame(student_dict)

In [ ]:
# The statement data[‘name’] == ‘Samantha’] produces a Pandas Series with a True/False value for every row
# in the ‘data’ DataFrame, where there are “True” values for the rows where the name is “Samantha”.
# These type of boolean arrays can be passed directly to the .loc indexer.
students_df.loc[students_df['name'] == 'Samantha']

In [ ]:
# What about if we only want the city and state of the selected students with the name Samantha?
students_df.loc[students_df['name'] == 'Samantha', ['city', 'state']]

In [ ]:
# What amount if we want to select a student of a specific age?
students_df.loc[students_df['age'] == '21']

In [ ]:
# What amount if we want to select a student of a specific age?
students_df.loc[(students_df['age'] == '21') &
                (students_df['city'] == 'Atlanta')]

In [ ]:
# What should be returned?
students_df.loc[(students_df['age'] == '35') &
                (students_df['city'] == 'Atlanta')]

### Lesson Recap
Pandas combines the power of python lists (selection via integer location) and dictionaries (selection by label)

`.iloc` is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array.

`.iloc` will raise IndexError if a requested indexer is out-of-bounds, except slice indexers which allow out-of-bounds indexing (this conforms with python/numpy slice semantics).

`.loc` is primarily label based, but may also be used with a boolean array.

#### Warning Note that contrary to usual python slices, both the start and the stop are included.

`.loc` will raise a keyError when any items are not found.

### Pandas
- The data structures in Pandas are implemented using series and dataframe classes.  
- A series is a one-dimensional indexed array of some fixed data type.  
- While a dataframe is a two-dimensional data structure like a table where each column contains data of the same type.  
- DataFrames are great for representing real data: rows correspond to instances (examples, observations, etc.), and columns correspond to features of these instances.

### CLASS ASSIGNMENT
Now that we have all of these new tools in our tool belt, use these tools on the shelter data set! 
- Use `shelter_data.columns` to get the list of column names.
- Subset the data by '`Outcome Subtype`.
- Subset the data by '`Outcome Subtype` `Adoption` and only return the `Animal Type` column. 
- Subset the data by '`Outcome Subtype` `Adoption` and only return the `Animal Type` column with only `Cat`. 
- Play around with your new tools on the data set.
- For extra credit: What are the data types returned from the different subsetting? Is what returned a series or dataframe?

In [ ]:
import pandas as pd
shelter_data = pd.read_csv(
    'https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
shelter_data.head()

In [ ]:
shelter_data['Outcome Type'].value_counts()